* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
a {
    text-decoration: none;
    color: #6e9f7d;

}
a:hover {
    color: #68d188;
}

li {
    list-style: none;
}
 
/* ******************************************** Header ***************************************************** */
header nav {
    width: 1000px;
    margin: 0 auto;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 4rem; */
    padding: 10px;
    border-bottom: 1px solid #4c4d5f48;
}

.nav1 .nav-links {
    /* margin-right: 28rem; */
}
.nav1 .nav-links ul {
    display: flex;
    flex-flow: row;
    flex-direction: row; 
    
}
.nav1 .nav-links ul li a{
   margin: 1rem;
   color: #4c4d5f;
}
.nav1 .nav-links ul li a:hover {
    color: #00b289;
}
.nav1 .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.nav1 .btn .login {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 15px;
}
.nav1 .login:hover {
    background-color: #73838018;
    border-radius: 10px;
    padding: 5px 15px;
}
.nav1 .btn .start {
    background-color: #00b289;
    padding: 10px 20px;
    color: #fff;
    border-radius: 15px;
}
.nav1 .btn .start:hover {
    background-color: #2e6d5e;
    padding: 10px 20px;
    color: #fff;
    border-radius: 15px;
}
.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
    
}
.nav2 ul {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    margin: 10px;
}
.nav2 ul li a {
    margin: 0 10px;
    color: #4c4d5f98;
}
.nav2 ul li a:hover {
    color: #4c4d5f;
}


/******************************************* main ******************************************************/

/****************************************** Footer ****************************************************/

.footer-links {
    
}

footer .container {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #4c4d5f48;
    padding: 10px;
}

footer .container .row {
    display: flex;
    
}
footer .container .row .col-1-5 {
    flex: 0 0 25%;
    
}
footer .container .row .col-1-5 .logo-footer {
    margin-top: 12px;
    margin-bottom: 40px;
}
footer .container .row .col-1-5 .logo-footer img {
    width: 50%;
}
footer .container .row .col-1-5 h4 {
    margin: 10px 0;
}

/* footer-copy */

.footer-copy .container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
footer .container p {
    color: #8eb699;
    font-size: 11px;
    font-weight: 200;
    line-height: 14px;
}
.footer-copy .container .row { 
    display: flex;
}
.footer-copy .container .row .col-1-2 {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer-copy .container .row .col-1-2 .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 10%;
}

.footer-copy .container .row .col-1-2 .info-copy span{
    color: #8eb699;
    padding: 0 20px;
}